*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:100vw;
    height:100vh;
    display:grid;
    place-items: center;
    background-color:aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.main{
    width:320px;
    background:linear-gradient(to right, white 50%, rgba(173, 173, 173, 0.381) 50%);
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    height:360px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

.social_media_icon ul{
    display: flex;
    gap:14px;
    padding-block:30px;
    padding-inline:20px;
}

.social_media_icon ul li{
    list-style-type:none;
}

.social_media_icon ul li i{
    font-size:24px;
    color:rgba(173, 173, 173, 0.909);
    transition: all 0.3s linear;
}

.social_media_icon ul li i:hover{
    cursor:pointer;
    color:#D2C447;
    filter:drop-shadow(rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px);
}

.lines{
    position: absolute;
    top:23%;
    /* transform: translateY(-50%); */
    left:0;
    display:flex;
    flex-direction: column;
    gap:14px;
}

.lines li{
    width:40px;
    height:10px;
    background-color: rgba(173, 173, 173, 0.381);
    list-style-type: none;
    transition: all 0.4s linear;
}


.lines li:hover{
    background-color: #D2C447;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.profile_photo{
    width:180px;
    height:240px;
    background:url('./profile.jpg');
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
    margin-inline-start:80px;
    margin-block-end:30px;
    object-fit: contain;
    object-position: center;
    background-size:100% 100%;
    border:8px solid white;
}

.name_and_role ul{
    display:flex;
    flex-direction: column;
    gap:4px;
    padding-inline:20px;
    padding-block:16px;
    background-color:#D2C447;
    color:#fff;
    width:200px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 12px;
}

.name_and_role ul li{
    list-style-type:none;
}


.name_and_role ul li:first-child{
    font-size:32px;
    font-weight:600;
}

.name_and_role ul li:last-child{
    font-weight: 400;
}